@tailwind base;
/* all general elements */
@tailwind components;
/* more complex elements Buttons etc */
@tailwind utilities;
/* create my own utilities */

/* rounded */

@font-face {
  font-family: "loveloline";
  src: url("./assets/fonts/Lovelo/Lovelo-LineBold.ttf") format("truetype");
  font-weight: 400; /* Specify the font weight */
  font-style: normal; /* Specify the font style */
}

@font-face {
  font-family: "montserrat-bold";
  src: url("./assets/fonts/Montserrat/Montserrat-SemiBold.ttf")
    format("truetype");
  font-weight: 400; /* Specify the font weight */
  font-style: normal; /* Specify the font style */
}

@font-face {
  font-family: "montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf")
    format("truetype");
  font-weight: 400; /* Specify the font weight */
  font-style: normal; /* Specify the font style */
}

@layer base {
  h1 {
    @apply font-loveloline text-white text-2xl;
    /* color: theme("colors.white"); */
  }

  .home h1 {
    @apply font-montserrat font-semibold mt-8 mb-4 text-4xl;
  }

  .home p {
    @apply text-white mb-4;
  }
  h2 {
    @apply font-loveloline text-red md:text-2xl text-4xl relative;
    /* color: theme("colors.white"); */
  }

  .home h2 {
    @apply font-montserrat font-semibold mb-8;
  }

  h3,
  ul,
  li,
  a,
  p,
  input,
  button,
  span {
    @apply font-montserrat;
  }

  h3 {
    @apply text-lg font-semibold mb-4;
  }

  h4 {
    @apply text-lg;
  }

  p {
    @apply text-black py-2;
  }

  .about p, .about h3, .about h4, .about li {
    @apply text-white;
  }
}

@layer components {
  h3.moviePicker,
  form.moviePicker label,
  .filterDropdown {
    @apply py-4 px-8 bg-opacity-50 text-white border-white border-2 rounded-xl mb-4;
  }

  form.moviePicker label {
    @apply my-2;
  }

  button.next {
    @apply px-4 py-2 rounded-xl bg-red text-white hover:bg-black hover:bg-opacity-50 border-white border-2 transition duration-300;
  }

  button.last {
    @apply px-4 py-2 rounded-xl bg-support text-white hover:bg-black hover:bg-opacity-50 border-white border-2 transition duration-300 w-full font-semibold;
  }

  button.back {
    @apply text-red text-sm font-semibold;
  }
}

@layer utilities {
  .outerPadding {
    @apply md:px-8 px-4 py-4;
  }

  .level-0 {
    z-index: 0;
  }

  .level-1 {
    z-index: 10;
  }

  .level-2 {
    z-index: 20;
  }

  .level-3 {
    z-index: 50;
  }

  .level-4 {
    z-index: 100;
  }
}

nav li {
  @apply text-white;
}
